.home {
    background-color: #f3f4ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home .div {
    background-color: var(--colorbackground);
    overflow: hidden;
    width: 1920px;
    height: 1163px;
    position: relative;
}

.home .side-menu {
    position: absolute;
    width: 347px;
    height: 2310px;
    top: 0;
    left: 0;
}

.home .overlap {
    position: relative;
    width: 395px;
    height: 2310px;
}

.home .background {
    position: absolute;
    width: 345px;
    height: 2310px;
    top: 0;
    left: 0;
    background-color: #692411;
}

.home .list {
    width: 395px;
    height: 414px;
    top: 120px;
    position: absolute;
    left: 0;
}

.home .text-wrapper {
    position: absolute;
    width: 235px;
    top: 26px;
    left: 97px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--colorwhite);
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.home .logo {
    position: absolute;
    width: 50px;
    height: 54px;
    top: 39px;
    left: 34px;
}

.home .overlap-group {
    position: relative;
    width: 48px;
    height: 54px;
}

.home .rectangle {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 3px;
    left: 0;
    background-color: var(--colororange);
    border-radius: 16px;
}

.home .text-wrapper-2 {
    position: absolute;
    top: 0;
    left: 11px;
    font-family: "Poppins", Helvetica;
    font-weight: 700;
    color: var(--colorwhite);
    font-size: 36px;
    letter-spacing: 0;
    line-height: normal;
}

.home .overlap-2 {
    position: absolute;
    width: 1526px;
    height: 1082px;
    top: 49px;
    left: 359px;
}

.home .overlap-3 {
    position: absolute;
    width: 1526px;
    height: 1082px;
    top: 0;
    left: 0;
}

.home .text-wrapper-3 {
    position: absolute;
    top: 0;
    left: 36px;
    font-family: var(--heading-heading-1-font-family);
    font-weight: var(--heading-heading-1-font-weight);
    color: var(--colortext);
    font-size: var(--heading-heading-1-font-size);
    letter-spacing: var(--heading-heading-1-letter-spacing);
    line-height: var(--heading-heading-1-line-height);
    font-style: var(--heading-heading-1-font-style);
}

.home .teacher-details {
    position: absolute;
    width: 1526px;
    height: 981px;
    top: 101px;
    left: 0;
}

.home .overlap-4 {
    position: relative;
    width: 1524px;
    height: 981px;
    background-color: var(--colorwhite);
    border-radius: 20px;
}

.home .overlap-5 {
    position: absolute;
    width: 1524px;
    height: 570px;
    top: 0;
    left: 0;
}

.home .overlap-group-2 {
    position: absolute;
    width: 1524px;
    height: 557px;
    top: 0;
    left: 0;
}

.home .dots {
    position: absolute;
    width: 36px;
    height: 22px;
    top: 158px;
    left: 1425px;
}

.home .cover {
    position: absolute;
    width: 1524px;
    height: 202px;
    top: 0;
    left: 0;
    background-color: #692411;
    box-shadow: var(--shadow);
    background-image: url(https://c.animaapp.com/mBfvdv3L/img/masking.png);
    background-size: 100% 100%;
}

.home .ellipse {
    position: absolute;
    width: 394px;
    height: 382px;
    top: 175px;
    left: 1067px;
    object-fit: cover;
}

.home .title {
    position: absolute;
    width: 348px;
    top: 236px;
    left: 48px;
    font-weight: var(--heading-heading-2-font-weight);
    font-size: var(--heading-heading-2-font-size);
    font-family: var(--heading-heading-2-font-family);
    color: var(--colortext);
    letter-spacing: var(--heading-heading-2-letter-spacing);
    line-height: var(--heading-heading-2-line-height);
    font-style: var(--heading-heading-2-font-style);
}

.home .contact {
    position: absolute;
    width: 737px;
    height: 40px;
    top: 349px;
    left: 48px;
}

.home .location {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.home .img-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: var(--colororange);
    border-radius: 40px;
}

.home .img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
}

.home .title-2 {
    position: relative;
    width: fit-content;
    font-weight: var(--text-text-semi-bold-1-font-weight);
    font-size: var(--text-text-semi-bold-1-font-size);
    font-family: var(--text-text-semi-bold-1-font-family);
    color: var(--colortext);
    letter-spacing: var(--text-text-semi-bold-1-letter-spacing);
    line-height: var(--text-text-semi-bold-1-line-height);
    font-style: var(--text-text-semi-bold-1-font-style);
}

.home .email {
    position: absolute;
    width: 240px;
    height: 40px;
    top: 0;
    left: 497px;
}

.home .mail {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.home .sghayekh-asu-edu {
    position: relative;
    width: fit-content;
    font-family: var(--text-text-semi-bold-1-font-family);
    font-weight: var(--text-text-semi-bold-1-font-weight);
    color: var(--colortext);
    font-size: var(--text-text-semi-bold-1-font-size);
    letter-spacing: var(--text-text-semi-bold-1-letter-spacing);
    line-height: var(--text-text-semi-bold-1-line-height);
    font-style: var(--text-text-semi-bold-1-font-style);
    background: transparent;
    border: none;
    padding: 0;
}

.home .about {
    position: absolute;
    width: 927px;
    height: 147px;
    top: 423px;
    left: 48px;
}

.home .text-wrapper-4 {
    position: absolute;
    width: 124px;
    top: 0;
    left: 0;
    font-family: var(--heading-heading-3-font-family);
    font-weight: var(--heading-heading-3-font-weight);
    color: var(--colortext);
    font-size: var(--heading-heading-3-font-size);
    letter-spacing: var(--heading-heading-3-letter-spacing);
    line-height: var(--heading-heading-3-line-height);
    font-style: var(--heading-heading-3-font-style);
}

.home .p {
    position: absolute;
    width: 923px;
    top: 48px;
    left: 0;
    font-family: var(--text-text-regular-1-font-family);
    font-weight: var(--text-text-regular-1-font-weight);
    color: var(--colortext);
    font-size: var(--text-text-regular-1-font-size);
    text-align: justify;
    letter-spacing: var(--text-text-regular-1-letter-spacing);
    line-height: var(--text-text-regular-1-line-height);
    font-style: var(--text-text-regular-1-font-style);
}

.home .expertise {
    position: absolute;
    width: 927px;
    height: 73px;
    top: 823px;
    left: 48px;
}

.home .text-wrapper-5 {
    position: absolute;
    width: 181px;
    top: 0;
    left: 0;
    font-family: var(--heading-heading-3-font-family);
    font-weight: var(--heading-heading-3-font-weight);
    color: var(--colortext);
    font-size: var(--heading-heading-3-font-size);
    letter-spacing: var(--heading-heading-3-letter-spacing);
    line-height: var(--heading-heading-3-line-height);
    font-style: var(--heading-heading-3-font-style);
}

.home .education {
    position: absolute;
    width: 667px;
    height: 198px;
    top: 596px;
    left: 48px;
}

.home .text-wrapper-6 {
    position: absolute;
    width: 198px;
    top: 0;
    left: 0;
    font-family: var(--heading-heading-3-font-family);
    font-weight: var(--heading-heading-3-font-weight);
    color: var(--colortext);
    font-size: var(--heading-heading-3-font-size);
    letter-spacing: var(--heading-heading-3-letter-spacing);
    line-height: var(--heading-heading-3-line-height);
    font-style: var(--heading-heading-3-font-style);
}

.home .list-2 {
    width: 665px;
    height: 150px;
    top: 48px;
    position: absolute;
    left: 0;
}

.home .element {
    position: absolute;
    width: 618px;
    height: 58px;
    top: 0;
    left: 0;
}

.home .text-wrapper-7 {
    position: absolute;
    width: 614px;
    top: 0;
    left: 0;
    font-family: var(--text-text-semi-bold-1-font-family);
    font-weight: var(--text-text-semi-bold-1-font-weight);
    color: var(--colortext);
    font-size: var(--text-text-semi-bold-1-font-size);
    text-align: justify;
    letter-spacing: var(--text-text-semi-bold-1-letter-spacing);
    line-height: var(--text-text-semi-bold-1-line-height);
    font-style: var(--text-text-semi-bold-1-font-style);
}

.home .text-wrapper-8 {
    width: 129px;
    position: absolute;
    top: 33px;
    left: 40px;
    font-family: var(--text-text-regular-1-font-family);
    font-weight: var(--text-text-regular-1-font-weight);
    color: var(--colorgray-3);
    font-size: var(--text-text-regular-1-font-size);
    text-align: justify;
    letter-spacing: var(--text-text-regular-1-letter-spacing);
    line-height: var(--text-text-regular-1-line-height);
    font-style: var(--text-text-regular-1-font-style);
}

.home .element-2 {
    position: absolute;
    width: 669px;
    height: 58px;
    top: 92px;
    left: 0;
}

.home .text-wrapper-9 {
    position: absolute;
    width: 665px;
    top: 0;
    left: 0;
    font-family: var(--text-text-semi-bold-1-font-family);
    font-weight: var(--text-text-semi-bold-1-font-weight);
    color: var(--colortext);
    font-size: var(--text-text-semi-bold-1-font-size);
    text-align: justify;
    letter-spacing: var(--text-text-semi-bold-1-letter-spacing);
    line-height: var(--text-text-semi-bold-1-line-height);
    font-style: var(--text-text-semi-bold-1-font-style);
}

.home .text-wrapper-10 {
    width: 136px;
    position: absolute;
    top: 33px;
    left: 40px;
    font-family: var(--text-text-regular-1-font-family);
    font-weight: var(--text-text-regular-1-font-weight);
    color: var(--colorgray-3);
    font-size: var(--text-text-regular-1-font-size);
    text-align: justify;
    letter-spacing: var(--text-text-regular-1-letter-spacing);
    line-height: var(--text-text-regular-1-line-height);
    font-style: var(--text-text-regular-1-font-style);
}

.home .menu {
    position: absolute;
    width: 96px;
    height: 47px;
    top: 8px;
    left: 1363px;
}
